<?xml version="1.0"?>
<config>
    <modules>
        <OrganicInternet_WysiwygEditor>
            <version>0.0.1</version>
        </OrganicInternet_WysiwygEditor>
    </modules>
    <global>
        <helpers>
            <organicinternet_wysiwygeditor>
                <class>OrganicInternet_WysiwygEditor_Helper</class>
            </organicinternet_wysiwygeditor>
        </helpers>
        <blocks>
            <organicinternet_wysiwygeditor>
                <class>OrganicInternet_WysiwygEditor_Block</class>
            </organicinternet_wysiwygeditor>
            <!--
            <adminhtml>
                <rewrite>
                    <page_head>OrganicInternet_WysiwygEditor_Block_PageHead</page_head>
                </rewrite>
            </adminhtml>
            -->
        </blocks>
        <models>
            <organicinternet_wysiwygeditor>
                <class>OrganicInternet_WysiwygEditor_Model</class>
            </organicinternet_wysiwygeditor>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <organicinternet_wysiwygeditor>
                    <file>organicinternet_wysiwygeditor.xml</file>
                </organicinternet_wysiwygeditor>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <advanced>
            <organicinternet_wysiwygeditor>
                <active>0</active>
                <editor_type>tinymce</editor_type>
                <editable_areas>description,short_description</editable_areas>
            </organicinternet_wysiwygeditor>
        </advanced>
    </default>
</config>
